v1-working-pipeline.json
{
  "name": "Job Board Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f0c8b552-038b-4754-a0d3-a3c7b16329e4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://jsearch.p.rapidapi.com/search-v2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "data engineer jobs in Ontario"
            },
            {
              "name": "date_posted",
              "value": "week"
            },
            {
              "name": "num_pages",
              "value": "1"
            },
            {
              "name": "country",
              "value": "ca"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Key",
              "value": "46ed88c9edmshd4791b46b1ea386p16fe96jsn6d7ffebc9e44"
            },
            {
              "name": "X-RapidAPI-Host",
              "value": "jsearch.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "ab6f80fe-dec8-47ea-9e67-295f3c0ae0a7",
      "name": "Fetch Jobs - JSearch"
    },
    {
      "parameters": {
        "jsCode": "const jobs = $input.first().json.data.jobs;\n\nif (!jobs || jobs.length === 0) {\n  return [{ json: { error: \"No jobs found today\", jobs: [] } }];\n}\n\nconst parsed = jobs.map((job, index) => {\n  // Truncate description to ~500 words so Mistral handles it well\n  let desc = (job.job_description || \"No description available\")\n    .replace(/[\\r\\n\\t]+/g, ' ')\n    .replace(/\"/g, \"'\")\n    .replace(/\\\\/g, '')\n    .replace(/[\\x00-\\x1F\\x7F]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  const words = desc.split(/\\s+/);\n  if (words.length > 1200) {\n    desc = words.slice(0, 1200).join(\" \") + \"...\";\n}\n\n  // Pre-compute location fit so the LLM doesn't have to judge geography itself\n  const corridor = [\"london\", \"kitchener\", \"waterloo\", \"cambridge\", \"hamilton\", \"woodstock\", \"brantford\", \"guelph\", \"chatham\", \"st. thomas\"];\n  const gta = [\n    \"toronto\", \"oakville\", \"mississauga\", \"vaughan\", \"richmond hill\",\n    \"markham\", \"scarborough\", \"brampton\", \"milton\"];\n  const outer_gta = [\n    \"etobicoke\",    // shows up separately in some postings\n    \"north york\",   // same\n    \"pickering\",\n    \"ajax\",\n    \"whitby\",\n    \"oshawa\",       // Durham region;\n    \"newmarket\",\n    \"aurora\",\n    \"barrie\", \n  ];\n  const cityLower = (job.job_city || \"\").toLowerCase();\n  const countryLower = (job.job_country || \"\").toLowerCase();\n  const isCanada = countryLower === \"ca\" || countryLower === \"canada\";\n  let locationFitHint;\n  if (corridor.includes(cityLower)) locationFitHint = 9;\n  else if (gta.includes(cityLower)) locationFitHint = 8;\n  else if (outer_gta.includes(cityLower)) locationFitHint = 7;\n  else if (job.job_is_remote && isCanada) locationFitHint = 8;\n  else if (cityLower === \"vancouver\") locationFitHint = 6;\n  else if (isCanada) locationFitHint = 4;\n  else if (!cityLower && !countryLower) locationFitHint = 5;\n  else locationFitHint = 1;\n\n  return {\n    id: index + 1,\n    title: job.job_title || \"Unknown Title\",\n    company: job.employer_name || \"Unknown Company\",\n    location: job.job_city\n      ? `${job.job_city}, ${job.job_state || \"\"} ${job.job_country || \"\"}`\n      : (job.job_is_remote ? \"Remote\" : \"Not specified\"),\n    is_remote: job.job_is_remote || false,\n    employment_type: job.job_employment_type || \"Not specified\",\n    description: desc,\n    apply_link: job.job_apply_link || \"#\",\n    posted: job.job_posted_at_datetime_utc || \"Unknown\",\n    salary_min: job.job_min_salary || null,\n    salary_max: job.job_max_salary || null,\n    location_fit_hint: locationFitHint,\n  };\n});\n\n// Return each job as a separate item for the loop\nreturn parsed.map(job => ({ json: job }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "f5bb9c9c-c4e1-41f8-998e-bc4a13c32b2d",
      "name": "Parse Jobs"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "5460f6b6-c5d4-4efb-a2ca-e9fb5ba3458f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Ollama's /api/chat returns the model's reply at message.content.\n// With the schema enforced via \"format\", this should already be valid JSON,\n// but keep the try/catch as a safety net for a malformed or empty response.\nconst rawContent = $input.first().json.message.content;\nconst originalJob = $('Loop Over Items').first().json;\n\nlet scored;\ntry {\n    scored = JSON.parse(rawContent);\n} catch (e) {\n    scored = {\n        score: 5,\n        reason: \"Could not parse LLM response. Manual review recommended.\",\n        key_skills: [],\n        experience_level: \"unknown\",\n        salary_estimate: \"N/A\",\n        red_flags: [\"LLM parsing failed\"],\n        dimensions: null\n    };\n}\nscored.dimensions = scored.dimensions || {};\nscored.dimensions.location_fit = originalJob.location_fit_hint;\nreturn [{\n    json: {\n        title: originalJob.title,\n        company: originalJob.company,\n        location: originalJob.location,\n        is_remote: originalJob.is_remote,\n        employment_type: originalJob.employment_type,\n        apply_link: originalJob.apply_link,\n        posted: originalJob.posted,\n        salary_min: originalJob.salary_min,\n        salary_max: originalJob.salary_max,\n        match_score: scored.score,\n        match_reason: scored.reason,\n        key_skills: scored.key_skills,\n        experience_level: scored.experience_level,\n        salary_estimate: scored.salary_estimate,\n        red_flags: scored.red_flags,\n        dimensions: scored.dimensions || null\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        192
      ],
      "id": "509e7f5b-9dfa-49da-baa9-4bd1c75a22ad",
      "name": "Parse Score"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "match_score",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        832,
        -208
      ],
      "id": "1f7d5cdf-0d6e-4ee8-b9b6-399dded5151e",
      "name": "Sort"
    },
    {
      "parameters": {
        "jsCode": "const allJobs = $input.all().map(item => item.json);\n\nconst jobSummaries = allJobs.map(job =>\n`- [Score: ${job.match_score}/10] ${job.title} at ${job.company} (${job.location})\nReason: ${job.match_reason}\nSkills needed: ${(job.key_skills || []).join(\", \")}\nRed flags: ${(job.red_flags || []).length > 0 ? job.red_flags.join(\", \") : \"None\"}`\n).join(\"\\n\\n\");\n\nconst prompt = `You are a career assistant agent. Below are today's job postings, already scored by\n    relevance to the candidate (Mike).\n\n    Write a concise daily market summary with these sections:\n    1. HEADLINE — one sentence on today's overall market (how many jobs, general quality)\n    2. TRENDS — patterns you notice across postings (common skills asked for, salary ranges, remote vs on-site, seniority mix)\n    3. ACTION ITEMS — specific things the candidate should do today (skills to brush up, search adjustments)\n\n    Do not list, name, or describe individual job postings. A separate, exact table of the top-ranked\n    postings is already included below your summary, so do not restate job titles, companies, or\n    scores; your job is only the high-level read on today's market.\n\n    Keep the tone professional but direct. Be specific and actionable.\n\n    TODAY'S SCORED JOBS:\n    ${jobSummaries}\n\n    Write the summary now.`;\n\nreturn [{ json: { prompt: prompt, jobs: allJobs } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -208
      ],
      "id": "b7c287f3-9baf-48e0-bf5e-f8f916ba5871",
      "name": "Prepare Digest Prompt"
    },
    {
      "parameters": {
        "jsCode": "const prompt = $input.first().json.prompt;\n\nreturn [{\n  json: {\n    requestBody: JSON.stringify({\n      model: 'mistral:latest',\n      stream: false,\n      prompt: prompt\n    }),\n    jobs: $input.first().json.jobs\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -208
      ],
      "id": "04f4b51f-8b16-4a5d-b165-de92913727fe",
      "name": "Prepare Mistral Request"
    },
    {
      "parameters": {
        "jsCode": "const digest = $input.first().json.response;\nconst jobs = $('Prepare Digest Prompt').first().json.jobs;\n\nconst today = new Date().toLocaleDateString('en-CA', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n});\n\n// Build a simple HTML email\nconst rankedJobs = [...jobs].sort((a, b) => b.match_score - a.match_score);\nconst strongMatches = rankedJobs.filter(j => j.match_score >= 7);\nconst topJobs = (strongMatches.length >= 3 ? strongMatches : rankedJobs.slice(0, 3))\n    .map(j =>\n        `<tr>\n        <td style=\"padding:8px;border-bottom:1px solid #eee;\">\n            <strong>${j.title}</strong><br/>\n            ${j.company} — ${j.location}<br/>\n            <span style=\"color:#2d7d46;font-weight:bold;\">Score: ${j.match_score}/10</span><br/>\n            <em>${j.match_reason}</em><br/>\n            <a href=\"${j.apply_link}\" style=\"color:#1a73e8;\">Apply Now →</a>\n        </td>\n        </tr>`\n    ).join(\"\");\n\nconst html = `\n<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;\">\n  <h1 style=\"color:#1a1a1a;border-bottom:2px solid #1a73e8;padding-bottom:10px;\">\n    Job Agent Daily Digest\n  </h1>\n  <p style=\"color:#666;font-size:14px;\">${today} — ${jobs.length} jobs analyzed</p>\n\n  <div style=\"background:#f8f9fa;padding:16px;border-radius:8px;margin:16px 0;\">\n    ${digest.replace(/\\n/g, \"<br/>\")}\n  </div>\n\n  ${topJobs ? `\n  <h2 style=\"color:#1a1a1a;\">🏆 Top Matches</h2>\n  <table style=\"width:100%;border-collapse:collapse;\">${topJobs}</table>\n  ` : \"\"}\n\n  <hr style=\"margin:24px 0;border:none;border-top:1px solid #eee;\"/>\n  <p style=\"color:#999;font-size:12px;\">\n    Generated by your local Job Board Agent\n  </p>\n</div>`;\n\nreturn [{\n  json: {\n    subject: `Job Digest — ${today} — ${jobs.length} jobs, ${jobs.filter(j => j.match_score >= 7).length} strong matches`,\n    html: html\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        0
      ],
      "id": "f08c1281-150e-47cc-9007-b58295e1874c",
      "name": "Format Email"
    },
    {
      "parameters": {
        "fromEmail": "mike.verwer@gmail.com",
        "toEmail": "mike.verwer@gmail.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1264,
        0
      ],
      "id": "27fd5eb7-5f78-4058-a7cc-b875b2137708",
      "name": "Send an Email",
      "webhookId": "7d3439c6-1986-468b-8356-99cd4613a0f0",
      "credentials": {
        "smtp": {
          "id": "EhxJQJttrnCHoYJW",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        848,
        0
      ],
      "id": "16b3761d-51b1-42cb-a744-d4bdcb1d9be3",
      "name": "Generate Digest with Mistral"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen2.5:7b-instruct\",\n  \"stream\": false,\n  \"options\": { \"temperature\": 0 },\n  \"format\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"score\": { \"type\": \"integer\", \"minimum\": 1, \"maximum\": 10 },\n      \"reason\": { \"type\": \"string\" },\n      \"key_skills\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n      \"experience_level\": { \"type\": \"string\", \"enum\": [\"junior\", \"mid\", \"senior\"] },\n      \"salary_estimate\": { \"type\": \"string\" },\n      \"red_flags\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n      \"dimensions\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"skill_match\": { \"type\": \"integer\", \"minimum\": 0, \"maximum\": 10 },\n          \"seniority_fit\": { \"type\": \"integer\", \"minimum\": 0, \"maximum\": 10 },\n          \"location_fit\": { \"type\": \"integer\", \"minimum\": 0, \"maximum\": 10 },\n          \"comp_fit\": { \"type\": \"integer\", \"minimum\": 0, \"maximum\": 10 },\n          \"growth_signal\": { \"type\": \"integer\", \"minimum\": 0, \"maximum\": 10 }\n        },\n        \"required\": [\"skill_match\", \"seniority_fit\", \"location_fit\", \"comp_fit\", \"growth_signal\"]\n      }\n    },\n    \"required\": [\"score\", \"reason\", \"key_skills\", \"experience_level\", \"salary_estimate\", \"red_flags\", \"dimensions\"]\n  },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a job-fit scoring engine for a specific candidate. Score every posting honestly and specifically. Generic praise is a failure; ground every reason in concrete details from the posting.\\n\\nCANDIDATE PROFILE\\n- M.Sc. Mathematics (Universal Algebra, Formal Logic, McMaster University). Career switcher into data roles after 6+ years teaching college-level math and statistics.\\n- Completed Post-Degree Diploma in Data Analytics (Douglas College), 4.33/4.33 GPA.\\n- Strong: Python, SQL (window functions, indexing), statistics, ML fundamentals (scikit-learn), Tableau, technical communication, local agentic automation (n8n, Docker, Ollama).\\n- Building: Power BI (Tableau is the real depth here, Power BI is light and transferable).\\n- Gaps, no production experience with: dbt, Airflow, cloud data warehouses (BigQuery, Snowflake, Redshift), Databricks or Spark at scale, MLOps pipelines, vector databases (Pinecone, Weaviate, Chroma, pgvector), LangChain or LangGraph.\\n- Target roles, in priority order: Data Engineer, ML Engineer, Data Analyst, BI or Reports Developer. Strongly prefers coding-heavy engineering work over pure reporting or BI.\\n- Location: London, Ontario, Canada. Near-term target market is the London to Kitchener-Waterloo to Toronto corridor. Long-term goal is relocating to Vancouver, but that is not the active near-term search market.\\n- Career stage: junior or entry-level for data roles. This is a career change, not a lateral move. Do not treat teaching seniority as data-role seniority.\\n\\nSCORING DIMENSIONS, score each 0 to 10\\n- skill_match: overlap between the tools and skills the posting actually uses day to day and the candidate's real, demonstrated skills.\\n- seniority_fit: is this reachable for a motivated junior career-switcher? Roles asking for 5+ years of professional, non-teaching experience in the core stack score low.\\n- location_fit: a pre-computed value is provided in the job posting block labeled \\\"Location fit (pre-computed)\\\". Copy that number exactly into the location_fit field instead of judging it yourself.\\n- comp_fit: if a salary range is listed and reasonable for a junior in this field, score high. If clearly below market for the role's real requirements, score low. If no salary is listed, score 5 and do not penalize.\\n- growth_signal: does this role build toward the candidate's real skill gaps, dbt, Airflow, cloud warehouses, production ML or Spark? Roles that grow those skills score higher than roles that never touch them.\\n\\nRULES\\n- Distinguish required from preferred or nice-to-have language. A missing nice-to-have is not a real gap and should not meaningfully lower skill_match.\\n- A genuinely load-bearing required skill the candidate lacks entirely, for example 5+ years production Spark required, or a security clearance the candidate does not have, should cap the score low regardless of how good the rest of the fit looks. Ask whether the candidate could realistically do the core daily responsibilities of this role on day one, even if imperfectly. If clearly no, reflect that.\\n- Power BI listed as a requirement is not a hard miss on its own. The candidate has real Tableau depth and Power BI exposure. Treat it as a minor, closeable gap unless the role is explicitly Power BI specialist work with no other visualization tooling involved.\\n- score is a holistic 1 to 10 judgment, not a simple average of the dimensions. Weight skill_match and seniority_fit most heavily.\\n- reason should be 2 to 4 sentences citing specific, concrete details from the actual posting, not generic encouragement.\\n- red_flags should list real concerns or disqualifiers, an empty list if there genuinely are none. Do not invent concerns to fill space.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"JOB POSTING:\\nTitle: {{ $json.title }}\\nCompany: {{ $json.company }}\\nLocation fit (pre-computed, use this exact value for the location_fit dimension, do not re-derive it): {{ $json.location_fit_hint }}/10\\nRemote: {{ $json.is_remote }}\\nType: {{ $json.employment_type }}\\nDescription: {{ $json.description }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        848,
        192
      ],
      "id": "32afaa4c-4628-49ee-a87d-22a77ab6ee84",
      "name": "Score Job"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Jobs - JSearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jobs - JSearch": {
      "main": [
        [
          {
            "node": "Parse Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Jobs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Score Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Score": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Prepare Digest Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Digest Prompt": {
      "main": [
        [
          {
            "node": "Prepare Mistral Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Mistral Request": {
      "main": [
        [
          {
            "node": "Generate Digest with Mistral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Digest with Mistral": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Job": {
      "main": [
        [
          {
            "node": "Parse Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e02c7892-714a-4b2f-ba39-cf1ad8ce13f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9cd24e2acb13b7ecbb725fe24b5512cab2bfffcf1142c2d4e23d12645c6ff04c"
  },
  "nodeGroups": [],
  "id": "BlmeyULj8WJMH6Aw",
  "tags": []
}